:hover{
color:#000;
color:#000000;
color:#000353;
color:#005be2;
color:#0077b5;
color:#007aff;
color:#00a69c;
color:#00aff0;
color:#00c2ff;
color:#026466;
color:#030;
color:#044ad3;
color:#060;
color:#0b0b0b;
color:#0f9e5e;
color:#112337;
color:#1da1f2;
color:#1dbeea;
color:#1e7ac4;
color:#1fe0ba;
color:#202020;
color:#204ce5;
color:#2098d1;
color:#222;
color:#25d366;
color:#29c4a9;
color:#2a62bc;
color:#2b87da;
color:#2ca5e0;
color:#2ea3f2;
color:#2f4054;
color:#314475;
color:#3172bb;
color:#31c48d;
color:#333;
color:#3498db;
color:#35465c;
color:#374750;
color:#3875d7;
color:#399f4b;
color:#3b5998;
color:#3e3e3e;
color:#424242;
color:#444;
color:#45668e;
color:#4d4d4d;
color:#585e6a;
color:#5897fb;
color:#59becd;
color:#607382;
color:#666;
color:#666 tr;
color:#686e77;
color:#6b7280;
color:#6d167b;
color:#74b551;
color:#757575;
color:#767676;
color:#76d7db;
color:#777;
color:#7838e2;
color:#7ebec5;
color:#832525;
color:#87189d;
color:#8b6c32;
color:#8dff1c;
color:#900;
color:#959595;
color:#97b48a;
color:#999;
color:#9b9a9a;
color:#9cd790;
color:#a7c2e7;
color:#a7c37c;
color:#a82400;
color:#aaa;
color:#aac138;
color:#b4d088;
color:#bd081c;
color:#bdbdbd;
color:#be2840;
color:#c02b0a;
color:#c3ff88;
color:#c5c6c5;
color:#cbeca0;
color:#ccc;
color:#cd302b;
color:#cd6ad6;
color:#cfadb3;
color:#cfd3d9;
color:#d0d1d3;
color:#d1e4f3;
color:#d2d5db;
color:#d2d6dc;
color:#d4d4d4;
color:#d9d9d9;
color:#dbd8d6;
color:#dbf2b7;
color:#dcdcde;
color:#ddd;
color:#dfb;
color:#e0e0e6;
color:#e0f1ff;
color:#e1e1e1;
color:#e4e4e4;
color:#e5e5e5;
color:#e5e7eb;
color:#e6db55;
color:#e8e8e8;
color:#e8eaec;
color:#ea2c59;
color:#ea4335;
color:#eaeaea;
color:#eb4924;
color:#ec1e31;
color:#eee;
color:#ef3f56;
color:#effade;
color:#f04040;
color:#f0ad4e;
color:#f0f0f0;
color:#f1f1f1;
color:#f1fcdf;
color:#f2f3f5;
color:#f35160;
color:#f3782b;
color:#f3ca30;
color:#f3f3f3;
color:#f4f4f4;
color:#f4f8ff;
color:#f6f6f6;
color:#f70f5d;
color:#faf2f5;
color:#fafafa;
color:#fc0;
color:#fcfaea;
color:#ff4500;
color:#ff5a1f;
color:#ff5d38;
color:#ff853c;
color:#ffa0a0;
color:#ffb78c;
color:#ffec8b;
color:#fff;
color:#fff9bf;
color:#fff9f9;
color:#fffbcc;
color:#fffbd2;
color:#fffce5;
color:#ffffff;
}