:hover{
color: #000;
color: #000122;
color: #003f54;
color: #005380;
color: #006687;
color: #0078a6;
color: #0079a1;
color: #008ad1;
color: #008cba;
color: #0095c3;
color: #00a0d2;
color: #00b4ae;
color: #00d084;
color: #011835;
color: #020381;
color: #02ab6c;
color: #02e49b;
color: #03396c;
color: #0461dd;
color: #0478d7;
color: #066788;
color: #0693e3;
color: #0757fe;
color: #084298;
color: #08cbc4;
color: #0a4492;
color: #0d66c2;
color: #0d6efd;
color: #0f5132;
color: #111;
color: #111111;
color: #13336b;
color: #162C54;
color: #1778f2;
color: #1893cf;
color: #18a9fc;
color: #1980ec;
color: #1993cf;
color: #1a1a1a;
color: #1a95d5;
color: #1a96d6;
color: #1aa8fa;
color: #1bd760;
color: #1da1f2;
color: #1e1e1e;
color: #1e1f26;
color: #1e2125;
color: #1ea0c3;
color: #1eb7ea;
color: #212121;
color: #222;
color: #222222;
color: #23282d;
color: #2359b8;
color: #24292d;
color: #25d366;
color: #262626;
color: #272727;
color: #2874fc;
color: #2aabee;
color: #313131;
color: #31cdcf;
color: #3288d4;
color: #333;
color: #343a40;
color: #3498db;
color: #3499cd;
color: #34e2e4;
color: #358753;
color: #382110;
color: #393939;
color: #39c;
color: #3c9a5f;
color: #3cb0fd;
color: #3f3f3f;
color: #3f4458;
color: #40464d;
color: #4280ff;
color: #43ac6a;
color: #444;
color: #4680c2;
color: #46b450;
color: #4721fb;
color: #484848;
color: #4b86b4;
color: #4d4d4d;
color: #4e4e4e;
color: #52b1e4;
color: #555;
color: #555  ;
color: #55BBFF;
color: #569ff7;
color: #5a6171;
color: #5d3555;
color: #5d3556;
color: #5e5e5e;
color: #6033cc;
color: #643771;
color: #6440a4;
color: #646c8c;
color: #664d03;
color: #666;
color: #666666;
color: #679e37;
color: #67a671;
color: #691b58;
color: #6c757d;
color: #6f6f6f;
color: #72aee6;
color: #744783;
color: #777777;
color: #787878;
color: #79a002;
color: #7E7E7E;
color: #80c545;
color: #80cbc4;
color: #83c373;
color: #842029;
color: #86b7fe;
color: #878787;
color: #888;
color: #8bc9e3;
color: #8eb56d;
color: #90b912;
color: #90da36;
color: #949494;
color: #959ea9;
color: #97dbf9;
color: #98a4ad;
color: #99181d;
color: #999;
color: #9daab3;
color: #9e1847;
color: #a0d3e8;
color: #a3a3a3;
color: #a4c48a;
color: #a8d144;
color: #aaa;
color: #ab1dfe;
color: #ac2e91;
color: #aeaeae;
color: #b32d2e;
color: #b3b3b3;
color: #b6d4fe;
color: #b7d282;
color: #badbcc;
color: #baeeff;
color: #bb260d;
color: #bbb;
color: #bd2130;
color: #bfbfbf;
color: #c00;
color: #c0c0c0;
color: #c1e1b9;
color: #c45500;
color: #c45916;
color: #c4db99;
color: #c62860;
color: #c7c5c7;
color: #cc0000;
color: #ccc;
color: #cdcdcd;
color: #cecece;
color: #ced4da;
color: #cee0ea;
color: #cfcfcf;
color: #cfe2ff;
color: #d0d0d0;
color: #d1e7dd;
color: #d32422;
color: #d32a0e;
color: #D35400;
color: #d50000;
color: #d50100;
color: #d5d5d5;
color: #d60000;
color: #d63638;
color: #d6d6d6;
color: #d80000;
color: #d93674;
color: #d9d9d9;
color: #dad0ec;
color: #dadada;
color: #dbdbdb;
color: #dc3232;
color: #dc3545;
color: #dcdcdc;
color: #ddd;
color: #dedede;
color: #dee2e6;
color: #dff4fd;
color: #e21b24;
color: #e2e2e2;
color: #e35b5b;
color: #e50505;
color: #e60122;
color: #e65678;
color: #e6e6e6;
color: #e7e7e7;
color: #e7f5fe;
color: #e86814;
color: #e94c89;
color: #e9ecef;
color: #e9fbe5;
color: #ea2f10;
color: #ea4434;
color: #ea7d10;
color: #eaeaea;
color: #eb8c95;
color: #eceadd;
color: #eceef1;
color: #ededed;
color: #edfbff;
color: #eee;
color: #eee ;
color: #eeeeee;
color: #ef4155;
color: #ef5c5f;
color: #ef6c1a;
color: #efefef;
color: #f00075;
color: #f04124;
color: #f08a24;
color: #f08d3c;
color: #f0f0f0;
color: #f0f6fc;
color: #f1adad;
color: #f1f1f1;
color: #f1fff0;
color: #f2f2f2;
color: #F36752;
color: #f3f3f3;
color: #f3f4f5;
color: #f3fbf6;
color: #f45800;
color: #f4f4f4;
color: #f56e28;
color: #f5c2c7;
color: #f5f5f5;
color: #f6405f;
color: #f64747;
color: #f6f6f6;
color: #f78b53;
color: #f8d7da;
color: #f8f8f8;
color: #f90;
color: #f9f9f9;
color: #faaca8;
color: #fafae1;
color: #fafafa;
color: #fbc5a9;
color: #fbfbfc;
color: #fcf0ef;
color: #fcfcfc;
color: #fd7e29;
color: #fefc00;
color: #fefed8;
color: #fefee5;
color: #fefefe;
color: #ff0;
color: #ff424d;
color: #ff4500;
color: #ff5600;
color: #ff5a5f;
color: #ffb900;
color: #ffc733;
color: #ffe399;
color: #ffebe8;
color: #ffecb5;
color: #fff3cd;
color: #ffffff;
};