:hover{

color: #000;
color: #0073ea;
color: #007bb6;
color: #00aced;
color: #060;
color: #060;
color: #124cc3;
color: #19f;
color: #1b7926;
color: #1D1A1B;
color: #203d5d;
color: #222;;
color: #222222;
color: #2A2E2D;
color: #2d2e2d;
color: #2ECC40;
color: #333;
color: #359dff;
color: #398f14;
color: #3b5998;
color: #3b5999;
color: #408bd1;
color: #434543;
color: #444444;
color: #488a2b;
color: #4e9c2b;
color: #517fa4;
color: #555;;
color: #555; ;
color: #555555;
color: #55acef;
color: #666;;
color: #6c6c6c;
color: #888;;
color: #901040;
color: #999;;
color: #999999;
color: #9f2427;
color: #a50440;
color: #aaa;;
color: #aaaaaa;
color: #b3d4fc;
color: #b80448;
color: #bc2629;
color: #be1546;
color: #bf2c0f;
color: #c0c0c0;
color: #c95a08;
color: #cb2027;
color: #cb2028;
color: #ccc so;
color: #ccc;;
color: #ccc;
color: #cccccc;
color: #CE7B0D;
color: #ced2e2;
color: #cf0b00;
color: #d83e2e;
color: #dd4b39;
color: #ddad1d;
color: #ddd;;
color: #ddd;
color: #dddddd;
color: #de901e;
color: #DE9021;
color: #e5593d;
color: #E61E58;
color: #e66302;
color: #e6684f;
color: #e8452b;
color: #e9e8e8;
color: #eee;;
color: #eee; 
color: #eeeeee;
color: #f00;;
color: #f39d1f;
color: #f3bf1f;
color: #f3f3f3;
color: #f3f6f9;
color: #f6f6f6;
color: #f7e700;
color: #F9A11B;
color: #f9f9f9;
color: #fdf5de;
color: #ff0;;
color: #ff0000;
color: #ff0084;
color: #FF4136;
color: #ff6e02;
color: #ff7800;
color: #ffa400;
color: #ffa409;
color: #ffa500;
color: #fff;